@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/bitters';

* {
	box-sizing: border-box;
}
body.intro {
	background: #2893b9;
	padding:2em;
	h1 {
		// font-size: 5em;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Times New Roman', Times, sans-serif;
		line-height: 1.5em;
		color: #fff9d6;
		font-weight:bold;
		font-size: 134px;
		text-shadow:0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187),4px 4px 0 rgb(173,173,173),5px 5px 0 rgb(158,158,158), 6px 6px 0 rgb(144,144,144),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);

		div:first-letter {
			font-size: 2em;
		}

	}
}
body.game {
	background: #ffffff;
	padding:2em;

	#question {
		margin:1em;
	}

	.answer {
		display: block;
		background: #b6d635;
		color: #333333;
		font-size:2em;
		font-weight: bold;
		padding:0.75em;
		margin:0.25em;
		&:hover {
			background: #eeeeee;
		}
	}

	#next {
		display: block;
		font-size: 2em;
		padding: 0.5em;
		margin: 1em auto;
		text-align: center;
	}

	#template {
		display: none;
	}
}
